/* css styles */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

a {
    text-decoration: none;
    font-weight: 350;
    font-size: large;
  }

.navbar {
    border-bottom: 1px solid rgb(122, 122, 122);
    font-size: large;
    font-weight: 350;
}

p {
  font-weight: 350;
  font-size: large;
}

h1 {
  text-align: left;
}

h2 {
  text-align: left;
}

li {
  font-weight: 350;
  font-size: large;
}