/* css styles */

a {
    text-decoration: none;
  }

.navbar {
    border-bottom: 1px solid rgb(140, 140, 140);
}

h1 {
  text-align: left;
  font-family: sans-serif;
  font-weight: lighter;
}

h2 {
  text-align: left;
  font-family: sans-serif;
  font-weight: lighter;
}

p {
  font-family: sans-serif;
}

li {
  font-family: sans-serif;
}