---
layout: page
---


{% assign sorted_members = site.group_members | sort: 'date' | reverse %}


<!-- about.html -->
      <div class="post">

        <article>
          {% if page.profiles -%}
          <h2> Principal investigator</h2>
          {% for profile in page.profiles %}
          {%- if profile.role == "PI" %}
          <hr>
          <div class="profile float-{%- if profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
            {%- if profile.image %}
              {%- assign profile_image_path = profile.image | prepend: 'assets/img/group/' -%}

              {% if profile.image_circular %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
              {% else %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
              {% endif %}

              {% include figure.html
              path=profile_image_path
              class=profile_image_class
              alt=profile.image -%}
            {% endif -%}
            {%- if profile.more_info %}
            <div class="more-info">
              {{ profile.more_info }}
            </div>
            {%- endif %}
          </div>

          <div class="clearfix">
            {% if profile.content -%}
            {% capture profile_content %}{%- include_relative {{ profile.content }} %}{% endcapture %}
            {{ profile_content | markdownify }}
            {%- else -%}
            {{ content }}
            {%- endif %}
          </div>
          {% endif -%}
          {% endfor %}


          <h2> Group members</h2>
          {% for profile in page.profiles %}
          {%- if profile.role == "current" %}
          <hr>
          <div class="profile float-{%- if profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
            {%- if profile.image %}
              {%- assign profile_image_path = profile.image | prepend: 'assets/img/group/' -%}

              {% if profile.image_circular %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
              {% else %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
              {% endif %}

              {% include figure.html
              path=profile_image_path
              class=profile_image_class
              alt=profile.image -%}
            {% endif -%}
            {%- if profile.more_info %}
            <div class="more-info">
              {{ profile.more_info }}
            </div>
            {%- endif %}
          </div>

          <div class="clearfix">
            {% if profile.content -%}
            {% capture profile_content %}{%- include_relative {{ profile.content }} %}{% endcapture %}
            {{ profile_content | markdownify }}
            {%- else -%}
            {{ content }}
            {%- endif %}
          </div>
          {% endif -%}
          {% endfor %}
          {%- endif %}

          <h2>Past PhD students</h2>
          <hr>
          {% for member in sorted_members %}
          {%- if member.category == "past_phd" -%}
            <p>
              <b>{{member.name}}</b> - {{member.description}}.
            </p>
          {%- endif -%}
          {% endfor %}

          <h2>Past undergraduate and MSc students</h2>
          <hr>
          {% for member in sorted_members %}
          {%- if member.category == "past" -%}
            <p>
              <b>{{member.name}}</b> - {{member.description}}.
            </p>
          {%- endif -%}
          {% endfor %}
      
        </article>

</div>
